*{
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0
    padding 0;
    box-sizing: border-box;
    transition: 0.5s;
    
}

:root {
    --ast-global-color-0: rgb(26, 108, 122);
    --ast-global-color-1: #153243;
    --ast-global-color-2: #000f2b;
    --ast-global-color-3: #3a3a3a;
    --ast-global-color-4: #f3f9fb;
    --ast-global-color-5: #ffffff;
    --ast-global-color-6: #153243;
    --ast-global-color-7: #f3f9fb;
    --ast-global-color-8: #BFD1FF;
}

/************* COLORS **********/
.mountain{
    color: #0e4a6d; 
}

/* *****************Hover-black and color**************** */

.gray-clr {
    filter: grayscale(100%);
  }

.gray-clr:hover {
    filter: grayscale(0%);
  }


/* *************** LINEAR GRADIENT *****************/
.bacground-gradient{
    background-image: 
    /* top image*/
    linear-gradient(to bottom, rgba(21, 73, 82, 0.4) 0%, rgba(32, 70, 64, 0.5)30%, rgba(21, 73, 82, 0.5)100%),
    /*bottom image*/
    url('images/landscape-mountains-sky-4843193.jpg');
  height: 100vh;
  color: white;
}

/* *************CONTACT PICTURE ************* */

.contact-picture{
    background-image: 
    /* top image*/
    linear-gradient(to bottom, rgba(21, 72, 78, 0.6) 20%, rgba(43, 77, 83, 0.622) 100%),
    /*bottom image*/
    url('images/fogs-on-green-mountain-1054222.jpg');
  color: white;
  background-attachment: fixed;
}

/* ****************BUTTONS******************** */
.custom-button {
    background-color: var(--ast-global-color-0);
}
.custom-button:hover {
    background-color: var(--ast-global-color-2);
    border: var(--ast-global-color-2);
}
.custom-button1 {
    background-color: none;
    border-color: var(--ast-global-color-5);
    border: 2px solid;
}
.custom-button1:hover {
    background-color: var(--ast-global-color-2);
    border: var(--ast-global-color-2);
    color: var(--ast-global-color-4);
}

.custom-button2 {
    background-color: var(--ast-global-color-5);
    border-color: var(--ast-global-color-5);
    color: var(--ast-global-color-0);
}
.custom-button2:hover {
    background-color: var(--ast-global-color-2);
    border: var(--ast-global-color-2);
    color: var(--ast-global-color-5);
}
.custom-button3 {
    border: 2px solid;
    text-decoration: none;
    color: var(--ast-global-color-0)

} .custom-button3:hover {
    background-color: var(--ast-global-color-2);
    border: var(--ast-global-color-2);
    color: white;
} 



